* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #B4FF9F;
}

.heading {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #A85CF9;
}

.btn {
    margin-top: 10px;
    border-color: #A85CF9;
    color: #A85CF9;
}

.btn:hover{
    background-color: #A85CF9;
    border-color: #A85CF9;
}

.input {
    border-color: #A85CF9;
}

.heading2{
    color: #A85CF9;
}
.result{
    color: #A85CF9;
}
.lead {
    color: #A85CF9;
    font-weight: bold;
}
.points {
    color: #A85CF9;
}